.quiz {
    width: 90%;
    height: auto;
    margin:auto;
}

.display_none {
    display: none;
}


.grey_bar {
    background-image: src('img/grey.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
