.quiz {
    width: 90%;
    height: auto;
<<<<<<< HEAD
}

#one {
<<<<<<< HEAD
    background-color:aqua;
=======
    background-color: red;
>>>>>>> lol
}

#two {
    background-color: aquamarine;
}

#three {
    background-color: beige;
}

#four {
    background-color: coral;
}

#five {
    background-color:blueviolet;
=======
    margin:auto;
>>>>>>> merge css
}

.display_none {
    display: none;
}


.grey_bar {
    background-image: src('img/grey.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
