/*Navigation and Header*/

#topright {
    display: flex;
justify-content: flex-end;
}

nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

nav > ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
}

nav > ul > li {
    padding-left: 1rem;
    padding-right: 1rem;
}

nav > img {
    justify-content: flex-end;
}
